footer
    .container
        .row.justify-content-center
            .col-lg-10
                .row.footer-row
                    .col-7.col-md-9
                        ul.footer-links
                            li
                                a(href='' title='') Universities
                            li
                                a(href='' title='') Services
                            li
                                a(href='' title='') Blog
                            li
                                a(href='' title='') FAQ
                            li
                                a(href='' title='') Contact us
                            li
                                a(href='' title='')
                    .col-5.col-md-3
                        a(href='' title='').button Apply now
        .row.justify-content-center
            .col-lg-10
                .row.footer-row
                    .col-md-3
                        a(href='' title='').logo-small
                            img(src='img/logo/logo.svg' title='' alt='')
                        ul.footer-lang
                            li
                                a(href='' title='').active en
                            li
                                a(href='' title='') ru
                            li
                                a(href='' title='') az
                    .col-6.col-md-3
                        ul.list-links
                            li
                                a(href='' title='') History
                            li
                                a(href='' title='') System of Education
                            li
                                a(href='' title='') Accomodation
                            li
                                a(href='' title='') Culture
                            li
                                a(href='' title='') Cost of living
                            li
                                a(href='' title='') About Us
                    .col-6.col-md-3
                        ul.list-links
                            li
                                a(href='' title='') Medical Universities
                            li
                                a(href='' title='') Engineering Universities
                            li
                                a(href='' title='') Aviation Universities
                            li
                                a(href='' title='') Economics, Business and Management Universities
                            li
                                a(href='' title='') Cultural & Artistic Universities
                            li
                                a(href='' title='') Environmental & Agricultural Universities
                            li
                                a(href='' title='') Best universities in Ukraine
                    .col-6.col-md-3
                        ul.list-links
                            li
                                a(href='' title='') Courses and duration
                            li
                                a(href='' title='') Tuition fees
                            li
                                a(href='' title='') Scholarships
                            li
                                a(href='' title='') Internship training
                            li
                                a(href='' title='') Post graduate programs
                            li
                                a(href='' title='') Medium of instruction
                            li
                                a(href='' title='') Examination and grading system
                            li
                                a(href='' title='') Practical training
                            li
                                a(href='' title='') Preparatory courses

        .row.justify-content-center
            .col-lg-10
                .row
                    .col-6.col-md-3
                        p.footer-text Украина, Киев,
                            br
                            | ул. Паньковская 14/5
                    .col-6.col-md-3
                        ul.footer-phone
                            li
                                a(href='' title='') +38 044 000 00 00
                            li
                                a(href='' title='') +38 044 000 00 00
                    .col-md-4.col-xl-3
                        ul.footer-mail
                            li E-mail:
                                a(href='' title='') study-and-ukraine@gmail.com
                            li Skype:
                                a(href='' title='') Study.and.Ukraine
                    .col-md-2.col-xl-3
                        ul.footer-social
                            li
                                a(href='' title='')
                                    i.fa.fa-facebook
                            li
                                a(href='' title='')
                                    i.fa.fa-google-plus
                            li
                                a(href='' title='')
                                    i.fa.fa-instagram

script(type="text/javascript" src="js/jquery.js")
script(type="text/javascript" src="js/vendor.js")
script(type="text/javascript" src="js/scripts.js")

