nav
    .container
        .row
            .col-6.col-md-2
                a(href='index.html' title='').logo
                    img(src='img/logo/logo.svg' title='' alt='')
            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span

            .col-md-6.col-lg-6.col-xl-7.nav-panel
                ul.menu
                    li
                        a(href='#link1' title='') Universities
                    li
                        a(href='#link2' title='') Services
                    li
                        a(href='#link2' title='') Blog
                    li
                        a(href='#link2' title='') FAQ
                    li
                        a(href='#link2' title='') Contact us
                #accordion2
                    h4 Universities
                        span
                    ul.menu-article
                        li
                            a(href='' title='') Medical Universities
                        li
                            a(href='' title='') Engineering Universities
                        li
                            a(href='' title='') Aviation Universities
                        li
                            a(href='' title='') Economics, Business and Management Universities
                        li
                            a(href='' title='') Cultural & Artistic Universities
                        li
                            a(href='' title='') Environmental & Agricultural Universities
                        li
                            a(href='' title='') Best universities in Ukraine
                    h4 Ukraine
                        span
                    ul.menu-article
                        li
                            a(href='' title='') History
                        li
                            a(href='' title='') System of Education
                        li
                            a(href='' title='') Accomodation
                        li
                            a(href='' title='') Culture
                        li
                            a(href='' title='') Cost of living
                        li
                            a(href='' title='') About Us
                    h4 Required Documents
                        span
                    ul.menu-article
                        li
                            a(href='' title='') Eligibility
                        li
                            a(href='' title='') Admission procedure
                    h4 Courses and Tuition Fee
                        span
                    ul.menu-article
                        li
                            a(href='' title='') Courses and duration
                        li
                            a(href='' title='') Tuition fees
                        li
                            a(href='' title='') Scholarships
                        li
                            a(href='' title='') Internship training
                        li
                            a(href='' title='') Post graduate programs
                        li
                            a(href='' title='') Medium of instruction
                        li
                            a(href='' title='') Examination and grading system
                        li
                            a(href='' title='') Practical training
                    h4 MBBS in Ukraine
                        span
                    ul.menu-article
                        li
                            a(href='' title='') Structure of medical education
                        li
                            a(href='' title='') Accreditation, licensing and international cooperation
                    h4 Partners



            .col-md-4.col-lg-4.col-xl-3.nav-panel-2
                a(href='' title='').button Apply now
                ul.menu-lang.mobile
                    li
                        a(href='' title='').active en
                    li
                        a(href='' title='') az
                    li
                        a(href='' title='') Ru
                .nav-icon#menu-sub-trigger
                    span
                    span
    .nav-secondary
        .container
            .row
                .col-md-2
                    ul.menu-lang
                        li
                            a(href='' title='').active en
                        li
                            a(href='' title='') az
                        li
                            a(href='' title='') Ru
                .col-md-10
                    .menu-secondary
                        h4 Ukraine
                        ul.menu-article
                            li
                                a(href='' title='') History
                            li
                                a(href='' title='') System of Education
                            li
                                a(href='' title='') Accomodation
                            li
                                a(href='' title='') Culture
                            li
                                a(href='' title='') Cost of living
                            li
                                a(href='' title='') About Us
                        h4 Universities
                        ul.menu-article
                            li
                                a(href='' title='') Medical Universities
                            li
                                a(href='' title='') Engineering Universities
                            li
                                a(href='' title='') Aviation Universities
                            li
                                a(href='' title='') Economics, Business and Management Universities
                            li
                                a(href='' title='') Cultural & Artistic Universities
                            li
                                a(href='' title='') Environmental & Agricultural Universities
                            li
                                a(href='' title='') Best universities in Ukraine
                        h4 Required Documents
                        ul.menu-article
                            li
                                a(href='' title='') Eligibility
                            li
                                a(href='' title='') Admission procedure
                        h4 Courses and Tuition Fee
                        ul.menu-article
                            li
                                a(href='' title='') Courses and duration
                            li
                                a(href='' title='') Tuition fees
                            li
                                a(href='' title='') Scholarships
                            li
                                a(href='' title='') Internship training
                            li
                                a(href='' title='') Post graduate programs
                            li
                                a(href='' title='') Medium of instruction
                            li
                                a(href='' title='') Examination and grading system
                            li
                                a(href='' title='') Practical training
                        h4 MBBS in Ukraine
                        ul.menu-article
                            li
                                a(href='' title='') Structure of medical education
                            li
                                a(href='' title='') Accreditation, licensing and international cooperation
                        h4 Partners