@import '../../utilities/vars'
@import '../../utilities/mixins'

//  HEADERS

h1
  font(4.6em, $white, 900, 1.35)
  margin-bottom 4px
  text-transform uppercase
  +mobile()
    font-size 3.75em
    line-height 1
    margin-bottom 25px

h2
  font(2em, $black, 800, normal)
  margin-bottom 48px
  text-transform uppercase
  letter-spacing .8px
  +mobile()
    margin-bottom 70px

h3
  font(1em, $black, 700, normal)
  margin-bottom 5px
  text-transform uppercase
  color $white
  letter-spacing .5px

h4
  font(.875em, $black, 600, normal)
  margin-bottom 11px
  text-transform uppercase
  +mobile()
    margin-bottom 5px

h5
  font(1.125em, $black, 700, normal)
  margin-bottom 5px
  letter-spacing: 0.9px;
  color $white

h6
  font(1em, $black, 400, normal)
  margin-bottom 10px

//  PARAGRAPH
p
  font(1em, $black, 400, normal)
  margin-bottom 10px

.black
  color $black

.white
  color $white

.heading-hr
  border-bottom 1px solid #dbdbdb
  padding-bottom 11px

.header-border
  border-bottom 1px solid $yellow

.team
  position relative

.team-text
  position absolute
  font(12em, #f6f6f6, 900, 1)
  margin-bottom 0
  text-transform uppercase
  text-align right
  bottom -150px
  right 15px
  +portrait()
    font-size 9em
  +mobile()
    display none