.advantages
  background $blue2
  padding-top 62px
  padding-bottom 33px
  background url('../img/illus/about.png') center center no-repeat
  background-size cover
  h2
    color $white
    margin-bottom: 17px;