.contact-phones
  padding 35px 0 10px
  a
    color $black-text

.team-container
  height 381px
  margin-bottom 30px
  position relative
  overflow hidden
  cursor pointer
  &:hover
    .team-container--description
      transform none
  &--image
    overflow hidden
    display flex
    justify-content center
    align-items center
    img
      width 110%
  &--description
    position absolute
    top 0
    left 15px
    right 15px
    bottom 0
    background rgba(0, 0, 0, .4)
    display flex
    flex-direction column
    justify-content flex-end
    transform translateY(-100%)
    transitions()
    ul
      display flex
      justify-content center
      margin-bottom 50px
      li
        margin 0 10px
        a
          background $yellow
          border-radius 50%
          width: 40px;
          height: 40px;
          display block
          padding 11px 0
          text-align center
          color $black
          &:hover
            background $black
            color $white
    h3
      text-align center
      margin-bottom 10px
    p
      text-align center
      color $white
      margin-bottom 35px

#map
  width 100%
  height 420px
  +portrait()
    height 400px

.tab-map
  position absolute
  top 0
  left -100vw
  width 166%
  height auto
  z-index 50
  right 0
  opacity 0
  transitions()
  +portrait()
    position static
    margin-bottom 30px
    opacity 1
    width 100%
  +mobile()
    position static
    margin-bottom 30px
    opacity 1
    width 100%


.tab-map.open
  left auto
  opacity 1

#tab-change
  display block
  text-transform uppercase
  font-weight 700
  .one
    display inline
  .two
    display none
  +mobile()
    display none

#tab-change.open
  .one
    display none
  .two
    display inline


.team-contacts
  display flex
  flex-wrap wrap
  .team-container
    flex 1 1 33.333333%
    max-width 33.333333%
    padding 0 15px
    +portrait()
      flex 1 1 50%
      max-width 50%
    &:focus
      outline none