.partners
  background url(../img/illus/partner-back.png) no-repeat center center
  background-size cover
  padding-top 138px
  padding-bottom 145px
  +mobile()
    padding-top 70px
    padding-bottom 70px
  h2
    margin-bottom 32px
  p
    line-height: 1.25
    font-size 1.125em
    margin-bottom 50px