@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  padding-top 133px
  padding-bottom 122px

article {}

aside {}

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100

