@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  padding-top 133px
  padding-bottom 122px

article
  background $white
  padding 30px
  margin-bottom 100px
  +mobile()
    padding-left 15px
    padding-right 15px
  img
    width 100%
    margin-bottom 30px
  iframe
    height 350px
    width 100%
    margin-bottom 30px
  p
    margin-bottom 30px
  h3
    color $black-text
    margin-bottom 10px

  ul
    margin-bottom 30px
    li
      position relative
      padding-left 20px
      margin-bottom 10px
      &:before
        pseudo(block, absolute)
        width 10px
        height 10px
        background $yellow
        border-radius 50%
        left 0
        top 3px
  ol
    margin-left 15px
    margin-bottom 30px
    li
      padding-left 5px

  .article-border-top
    border-top 1px solid #dbdbdb
    padding-top 30px

  .article-share
    color: rgba(27, 27, 27, 0.5);
    font-size .875em
    margin-bottom 0

  .list-article-social
    display flex
    flex-direction row
    justify-content flex-end
    margin-bottom 0
    li
      margin-left 30px
      padding-left 0
      &:before
        display none
      a
        color: #001825
        opacity .5


  .list-article-tags
    display flex
    flex-direction row
    margin-bottom 50px
    +mobile()
      flex-wrap wrap
    li
      padding 0
      color: rgba(27, 27, 27, 0.5);
      margin-right 30px
      &:before
        display none

  .list-article-eye
    display flex
    flex-direction row
    justify-content space-between
    border-bottom 1px solid #dbdbdb
    padding-bottom 17px
    margin-bottom 19px
    li
      color: rgba(27, 27, 27, 0.5);
      font-size .875em
      padding 0
      span
        &:first-child
          font-weight 700
          margin-right 19px
      &:last-child
        color #1b1b1b
      &:before
        display none

.article-footer
  h3
    color $black-text
    margin-bottom 30px
    border-bottom 1px solid #dbdbdb
    padding-bottom 28px

aside {}

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100

