@import "../../utilities/vars"
@import "../../utilities/mixins"

footer
  background $blue-dark
  padding-top 39px
  .button
    float right
    +mobile()
      float none
      margin 1rem auto
      display block
  .list-icons
    +mobile()
      justify-content center

.footer-links
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  padding-top 10px
  +mobile()
    flex-wrap wrap
    flex-direction column
  li
    +mobile()
      margin-bottom 1rem
      text-align center
    a
      color $white
      font-size: .875em
      font-weight: 600;
      letter-spacing: 0.2px;
      text-transform uppercase
      &:hover
        opacity .8

.footer-row
  border-bottom 1px solid rgba(255, 255, 255, .2)
  padding-bottom 25px
  margin-bottom 40px

.logo-small
  max-width 101px
  display block
  margin-bottom 53px
  img
    width 100%
  +mobile()
    display block
    margin-left auto
    margin-right auto
    margin-bottom 2rem

.footer-lang
  display flex
  flex-direction row
  flex-wrap nowrap
  +mobile()
    margin-bottom 30px
    justify-content center
  li
    margin-right 30px
    +mobile()
      margin 0 15px
    a
      color $white
      font-size: .875em
      font-weight: 700;
      opacity .5
      text-transform uppercase
      &:hover
        opacity 1
    .active
      opacity 1

.list-links
  +mobile()
    display none
  li
    a
      font-size: .75em
      line-height: 2.0;
      color: rgba(255, 255, 255, 0.5);
      &:hover
        opacity .5

.footer-text
  color $white
  font-size .75em
  line-height 2
  +mobile()
    display none

.footer-phone
  li
    +mobile()
      text-align center
      margin-bottom 2rem
    a
      color $white
      font-size .75em
      line-height 2
      +mobile()
        font-size 1em
      &:hover
        opacity .5

.footer-mail
  +mobile()
    margin-bottom 30px
    text-align center
  li
    color $white
    font-size .75em
    a
      color $blue
      line-height 2
      margin-left 5px
      +mobile()
        font-size 1em
      &:hover
        opacity .5


.footer-social
  display flex
  flex-direction row
  flex-wrap nowrap
  +mobile()
    margin-bottom 3rem
    justify-content center
  li
    margin-right 30px
    +mobile()
      margin 0 15px
    a
      color $white
      &:hover
        opacity .5