@import '../../utilities/vars'
@import '../../utilities/mixins'

//@import "../libs/rew-sidenav/sidenav.styl"
//@import "../libs/rew-downnav/downnav.styl"

nav
  background $white
  transitions()
  padding 24px 0
  position fixed
  top 0
  left 0
  right 0
  z-index 999
  .button
    margin-left: 24%;
    +mobile()
      display block
      margin 10px auto
    +portrait()
      margin-left 10%
  +mobile()
    padding 10px 0
    .container
      max-width 100%

nav.open
  height 100vh

nav.nav-transparent
  background $trans
  +mobile()
    background $white
  .button
    background $trans
    color $white
    border-color $white
    +mobile()
      color: #000;
      border: 1px solid #ffba00;
      background: #ffba00;
  .menu
    li
      a
        color $white
        +mobile()
          color $black-text
  .nav-panel, .nav-panel-2
    +mobile()
      background $white
  .nav-panel
    +mobile()
      margin-top 15px

nav.nav-white
  background $white
  .button
    color: #000;
    border: 1px solid #ffba00;
    background: #ffba00;
  .menu li a
    color $black

.nav-panel, .nav-panel-2
  +mobile()
    display none

.nav-secondary
  position: absolute
  left 0
  right 0
  top 89px
  transform translateX(100vw)
  transitions()
  background $white
  padding 68px 0
  min-height 100vh
  +mobile()
    padding-top 10px
    top 0px
  .menu-secondary
    position relative
    &:before
      pseudo(block, absolute)
      top 0
      left -99px
      right auto
      bottom 0
      width 1px
      background $black
      opacity .1
      +mobile()
        display none

.nav-secondary.open
  transform translateX(0)

.logo
  display: block
  max-width 101px
  img
    width 100%

.menu
  display flex
  flex-direction row
  flex-wrap nowrap
  +mobile()
    flex-direction column
    padding 0
  li
    margin-right 39px
    &:last-child
      margin-right 0
    &:first-child
      +mobile()
        display none
    +mobile()
      margin 0
      text-align center
    +tablet()
      margin-right 34px
    +portrait()
      margin-right 10px
    a
      display block
      font-size: .875em
      font-weight: 600;
      letter-spacing: 0.2px;
      color $black
      text-transform uppercase
      padding: 12px 0px;
      +portrait()
        font-size .75em
      +mobile()
        display inline-block
        padding 7px 0

.menu-lang
  display flex
  flex-direction column
  flex-wrap nowrap
  +mobile()
    flex-direction row
    margin-bottom 10px
  li
    margin-bottom 31px
    +mobile()
      margin-bottom 0
      margin-right 31px
    a
      font-size .875em
      text-transform uppercase
      font-weight: 700
      color $gray-text
      &:hover
        color $black
    .active
      color $black

.menu-article
  display flex
  flex-direction row
  flex-wrap wrap
  margin-bottom 28px
  +mobile()
    margin-bottom 14px
  li
    margin-right 14px
    margin-bottom 4px
    +mobile()
      margin-bottom 0
    a
      font-size .75em
      color $gray-text
      +displays()
        font-size .875em
      &:hover
        color: $blue

.nav-mobile
  display none
  +mobile()
    display block

/* BURGER ICON */

.nav-icon
  width 40px
  height 40px
  position relative
  background $gray-back2
  border-radius 50%
  cursor pointer
  transitions()
  transform rotate(0deg)
  float right
  span
    display block
    position absolute
    height 3px
    width calc(100% - 24px)
    background $black
    border-radius 2px
    opacity 1
    left 12px
    transform rotate(0deg)
    transitions()
    &:nth-child(1)
      top 14px
    &:nth-child(2)
      top 23px
  //&:hover
  //  background $trans

+mobile()
  #menu-sub-trigger
    display none
    span
      left 15px
      width 12px
      &:nth-child(1)
        transform rotate(45deg)
        top 15px
      &:nth-child(2)
        transform rotate(-45deg)
        top 22px
  #menu-sub-trigger.open
    transform translateY(-312px)
    z-index 400
    transition none
    span
      left 14px
      &:nth-child(1)
        transform rotate(-45deg)
      &:nth-child(2)
        transform rotate(45deg)

.nav-icon.open
  span
    &:nth-child(1)
      transform rotate(45deg) translateY(3px) translateX(3px)
    &:nth-child(2)
      transform rotate(-45deg) translateY(-3px) translateX(3px)


#accordion2
  display none
  +mobile()
    display block

.nav-panel
  +mobile()
    margin-top 0 !important
  .ui-accordion .ui-accordion-header
    border 0
    margin 0
    text-align center
    padding: 7px 0;
    span
      position relative
      &:after
        triangle($black, down, 5px)
        right -20px
        top 7px
        transitions()
    .ui-accordion-header-icon
      display none
    &:focus
      outline none
  .ui-accordion-header-active.ui-state-active
    span
      &:after
        transform rotate(180deg)
  .menu-article
    +mobile()
      li
        flex 1 1 100%
        max-width 100%
        text-align center
        margin-right 0

.mobile
  display none
  +mobile()
    display flex
    justify-content center
    li
      margin-right 15px
      margin-left 15px
