@import '../../utilities/vars'
@import '../../utilities/mixins'

.slider
  border-top 1px solid #e2e2e2
  padding-top 30px

.arrow
  background $trans
  text-align center
  border-radius: 26px;
  border: solid 1px #e2e2e2;
  max-width 71px
  width 100%
  color #e2e2e2
  padding 15px 0
  position absolute
  top -95px
  cursor pointer

.arrow-left
  right 91px

.arrow-right
  right 0
