//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    section.service.service-page
        header.header-regular
            .container
                .row.justify-content-end
                    .col-lg-9
                        .row.border-yellow
                            .col-md-5
                                h1 our news
                            .col-md-7
                                ul.list-exchages
                                    li Exchange Rates
                                    li $24.5
                                        i.fa.fa-long-arrow-down
                                    li $24.5
                                        i.fa.fa-long-arrow-down
                                    li $24.5
                                        i.fa.fa-long-arrow-up
                        .row
                            .col-12
                                ul.list-tags
                                    li
                                        a(href='' title='') #университеты
                                    li
                                        a(href='' title='') #города
                                    li
                                        a(href='' title='') #жизнь в украине
                                    li
                                        a(href='' title='') #студенчество
                                    li
                                        a(href='' title='') #жизнь в украине
                                    li
                                        a(href='' title='') #города
                                    li
                                        a(href='' title='') #жизнь в украине

                    .col-lg-3
                        .row
                            .col-xl-7.col-md-6.col-lg-12
                                h2 weather
                            .col-xl-5.col-md-6.col-lg-12
                                ul.list-time
                                    li Local time
                                    li 12:30
                        .row.weather-row
                            .col-xl-4.col-lg-7.col-md-2.col-4
                                img(src='img/weather/rain.png' title='' alt='').img-weather
                            .col-xl-3.col-lg-6.col-md-1.col-3
                                p.weather-text Kyiv
                                    br
                                    | Cloudy
                            .col-xl-5.col-lg-6.col-md-2.col-5
                                .weather
                                    p.weather-date 12.09.2017
                                    p.weather-number +23
                                        |
                                        span  0
                                        | C

                .row.justify-content-lg-end
                    .col-lg-9
                        .row
                            .col-12
                                a(href='' title='').service-container.news-container
                                    .service-container--image
                                        img(src='img/service/service1.png' title='')
                                    .service-container--description
                                        h3 Школы vs. искусственный интеллект. Почему Wolfram Alpha стоит отдать должное
                                    .news-container--description
                                        .news-container--description-tags
                                            ul
                                                li #университеты
                                                li #тег
                                                li #что-то
                                        .news-container--description-eye
                                            ul
                                                li
                                                    span 4
                                                    span Просмотров
                                                li 29.05.2017
                            .col-md-6
                                a(href='' title='').service-container.news-container
                                    .service-container--image
                                        img(src='img/service/service1.png' title='')
                                    .service-container--description
                                        h3 Приглашение на обучение в Украину
                                    .news-container--description
                                        .news-container--description-tags
                                            ul
                                                li #университеты
                                                li #тег
                                                li #что-то
                                        .news-container--description-eye
                                            ul
                                                li
                                                    span 4
                                                    span Просмотров
                                                li 29.05.2017
                            .col-md-6
                                a(href='' title='').service-container.news-container
                                    .service-container--image
                                        img(src='img/service/service1.png' title='')
                                    .service-container--description
                                        h3 Приглашение на обучение в Украину
                                    .news-container--description
                                        .news-container--description-tags
                                            ul
                                                li #университеты
                                                li #тег
                                                li #что-то
                                        .news-container--description-eye
                                            ul
                                                li
                                                    span 4
                                                    span Просмотров
                                                li 29.05.2017
                            .col-md-6
                                a(href='' title='').service-container.news-container
                                    .service-container--image
                                        img(src='img/service/service1.png' title='')
                                    .service-container--description
                                        h3 Приглашение на обучение в Украину
                                    .news-container--description
                                        .news-container--description-tags
                                            ul
                                                li #университеты
                                                li #тег
                                                li #что-то
                                        .news-container--description-eye
                                            ul
                                                li
                                                    span 4
                                                    span Просмотров
                                                li 29.05.2017
                            .col-md-6
                                a(href='' title='').service-container.news-container
                                    .service-container--image
                                        img(src='img/service/service1.png' title='')
                                    .service-container--description
                                        h3 Приглашение на обучение в Украину
                                    .news-container--description
                                        .news-container--description-tags
                                            ul
                                                li #университеты
                                                li #тег
                                                li #что-то
                                        .news-container--description-eye
                                            ul
                                                li
                                                    span 4
                                                    span Просмотров
                                                li 29.05.2017
                            .col-12
                                ul.pagination
                                    li.pagination-left
                                        a(href='' title='')
                                            i.fa.fa-long-arrow-left

                                    li.active
                                        a(href='' title='') 1
                                    li
                                        a(href='' title='') 2
                                    li
                                        a(href='' title='') ...
                                    li
                                        a(href='' title='') 10
                                    li.pagination-right
                                        a(href='' title='')
                                            i.fa.fa-long-arrow-right
                    .col-lg-3.col-md-6
                        .banner
                            img(src='img/news/banner.png' title='' alt='').img-banner