//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    section.service.services-page
        header.header-regular
            .container
                .row.justify-content-center

                    .col-lg-10
                        h1 Partnership
                        p Вы можете выбрать удобный для вас пакет и с легкостью
                            br
                            | начать европейское образование уже сегодня

        .container
            .row.justify-content-center
                .col-lg-10
                    .services-page--container
                        a(href='' title='').service-container
                            .service-container--image
                                img(src='img/service/service1.png' title='')
                            .service-container--description
                                h3 Приглашение на обучение в Украину
                                p Приглашение на обучение — официальный документ, который выдает ваш университет. Его формат определяет Министерство образования и науки Украины. Без приглашения на обучение невозможно получить студенческую визу.
                                span.button Show more
                        a(href='' title='').service-container
                            .service-container--image
                                img(src='img/service/service1.png' title='')
                            .service-container--description
                                h3 Приглашение на обучение в Украину
                                p Приглашение на обучение — официальный документ, который выдает ваш университет. Его формат определяет Министерство образования и науки Украины. Без приглашения на обучение невозможно получить студенческую визу.
                                span.button Show more
                        a(href='' title='').service-container
                            .service-container--image
                                img(src='img/service/service1.png' title='')
                            .service-container--description
                                h3 Приглашение на обучение в Украину
                                p Приглашение на обучение — официальный документ, который выдает ваш университет. Его формат определяет Министерство образования и науки Украины. Без приглашения на обучение невозможно получить студенческую визу.
                                span.button Show more
                        a(href='' title='').service-container
                            .service-container--image
                                img(src='img/service/service1.png' title='')
                            .service-container--description
                                h3 Приглашение на обучение в Украину
                                p Приглашение на обучение — официальный документ, который выдает ваш университет. Его формат определяет Министерство образования и науки Украины. Без приглашения на обучение невозможно получить студенческую визу.
                                span.button Show more