//- layouts/layout.pug
extend layouts/_layout-trns-univin.pug

block title
    | Главная страница

block content


    header.header-univer
        .container
            .row.align-items-center
                .col-lg-1
                .col-lg-6.col-md-10.header-heading
                    h1 Киевский национальный университет имени Тараса Шевченко
                    p Киевский национальный университет имени Тараса Шевченко сегодня - это классический университет исследовательского типа.
        .slider-header
            .slide
                img(src='img/slider-univ/slide1.png' title='' alt='')
            .slide
                img(src='img/slider-univ/slide1.png' title='' alt='')
            .slide
                img(src='img/slider-univ/slide1.png' title='' alt='')



    section.container.univ-benefits
        .row.justify-content-center
            .col-lg-10
                h2 приемущества вуза
                ul.univ-benefits-list
                    li Наличие языковых курсов
                    li Мультиязычное обучение
                    li Наличие общежития
                    li Находится в столице
                    li.benefit-no Мировое признание диплома
                    li.benefit-no Диплом 2-го стандарта
                    li Студенческий городок
                    li.benefit-no Наличие экзаменов при поступлении
                    li Студенты по обмену с другими ВУЗами
                    li 100% Получение визы
                    li 100% Зачисление без экзаменов TOEFL, IELTS
                    li Студенты из 30 стран

    section.univ-main
        .container.degree
            .row
                .col-lg-1
                .col-lg-6
                    h2 Степень обучения
                    ul.slider-special
                        li
                        li
                            a(href='' title='') курсы
                        li
                            a(href='' title='' class='active') Бакалавр
                        li
                            a(href='' title='') Магистр
                        li
                            a(href='' title='') 2-е высшее
                        li
                            a(href='' title='') Аспирант
                        li


                    ul.edu-prices
                        li СТОИМОСТЬ ОБУЧЕНИЯ ЗА ГОД
                        li.univ-price от 1300$

                    .specialization
                        h2.heading-hr Бакалавр
                        h3.heading-hr ЖУРНАЛИСТИКА
                        ul
                            li Видавнича діяльність і медіаредагування
                            li Мультиязычное обучение
                            li Видавнича діяльність і медіаредагування
                            li Находится в столице
                            li Видавнича діяльність і медіаредагування
                            li Медіа-комунікації (програма подвійного дипломування)
                            li Медіа-комунікації (програма подвійного дипломування)
                        h3.heading-hr ЖУРНАЛИСТИКА
                        ul
                            li Видавнича діяльність і медіаредагування
                            li Мультиязычное обучение
                            li Видавнича діяльність і медіаредагування
                            li Находится в столице
                            li Видавнича діяльність і медіаредагування
                            li Медіа-комунікації (програма подвійного дипломування)


                    h2.heading-hr Подготовительное обучение

                    p Институт мониторинга качества образования НТУУ «КПИ» (ИМЯО НТУУ «КПИ») объявляет набор слушателей на подготовительные курсы на 2016 - 2017 учебный год (лицензия МОН Украины: серия АЕ №527265 от 09.09.2014г.)

                    p Подготовительные курсы НТУУ «КПИ» традиционно считаются одними из лучших в Украине. Этому способствует в первую очередь постоянное внимание и роль, отводимая подготовительным курсам руководством университета. В течение последних двадцатипяти лет подготовительные курсы были и остаются основным источником пополнения студенческих рядов университета наиболее подготовленной, талантливой и одаренной молодежью.

                    p За это время подготовительные курсы, именуемые слушателями как нулевой курс университета, закончили около 75 000 человек. Дополнительный год, проведенный слушателями в стенах университета, знакомство с его славной историей и традициями, общение с ведущими учеными и преподавателями неоценимо обогатил их жизненный опыт и помог им в дальнейшем плавно адаптироваться к уровню требований факультетов и институтов, который в НТУУ «КПИ» традиционно высокий. Полученные и систематизированные знания по фундаментальным дисциплинам предоставили возможность большинству слушателей в будущем стать лучшими студентами университета.
                    p Київський національний університет імені Тараса Шевченка – чи не найвідоміший вищий навчальний заклад України. Університет був заснований в далекому 1833 році згідно з указом російського імператора Миколи I як Київський Імператорський університет святого Володимира. Більш як за півтора століття свого існування він став осередком, де плекалися передові ідеї та виховувалася національна інтелігенція. Всі кампуси та корпуси розташовані у місті Києві, а Червоний корпус КНУ є ще й однією з головних архітектурних прикрас столиці. До речі, ботанiчний сад імені Академіка Олександра Фоміна, який так люблять жителі та гості Києва за його долину магнолій, також є частиною університету. Київський національний університет імені Тараса Шевченка має доволі розгалужену структуру, тому майбутні студенти серед загального переліку спеціальностей зможуть обрати саме ту, яка буде їм до вподоби: від журналістики і психології, до кібернетики та хімії.

                    //h2 направления обучения
                    //    span.counter 22
                    //ul.categories
                    //    li Культура и искусство
                    //        ul
                    //            li Режесура телебачення
                    //            li Кінотелеоператорство
                    //            li Режесура анімаціоннного фільму
                    //            li Режесура телебачення
                    //            li Режесура неігрового кіно
                    //            li Фотомистецтво
                    //    li Социальные и поведенческие науки
                    //        ul
                    //            li Режесура анімаціоннного фільму
                    //            li Режесура телебачення
                    //            li Режесура неігрового кіно
                    //            li Фотомистецтво
                    //    li Журналистика
                    //    li Управления и администрирования крупных торговых отделений по поиску клиентов и продаж и бла бла
                    //    li Информационные технологии
                    //        ul
                    //            li Режесура телебачення и тут тоже может быть слишком много текста про вкусные булочки
                    //            li Кінотелеоператорство
                    //            li Режесура анімаціоннного фільму
                    //            li Режесура телебачення
                    //            li Режесура неігрового кіно
                    //            li Фотомистецтво
                    //    li Автоматизация и приборостроение
                    //    li Электроника и телекоммуникации в сферах которые добаляют больше текста, больше текста
                    //    li Естественные науки
                    //    li Механическая инженерия
                    //    li Производство и технологии
                    //    li Гуманитарные науки
                    //    li Право
                    //    li Биология
                    //    li Математика и статистика
                    //    li Химия и биоинженерия
                    //    li Архитектура и строительство
                    //    li Аграрные науки и продовольствие
                    //    li Охрана здоров'я
                    //    li Сфера обслуговування
        .container-fluid.training
            .container
                .row
                    .col-md-1
                    .col-md-7
                        h2.white подготовка к поступлению в вузы украины
                        a(href='' title='' class='button huge') Начать подготовку
        .container
            .row.students
                .col-md-1
                .col-md-6
                    h2 Отзывы наших студентов
                    ul.about-list
                        li
                            a(href='#inline1' title='' class='icon-circle inline middle icon-comment')
                                span
                                    img(src='img/person/person-1.png' title='' alt='')
                        li
                            a(href='#inline1' title='' class='icon-circle inline middle icon-comment')
                                span
                                    img(src='img/person/person-1.png' title='' alt='')

        .container-fluid.official
            .container
                .row
                    .col-md-1
                    .col-md-6
                        h2 Мы работаем только официально
                        p 100% гарантии поступления в этот университет. Мы официально работаем с этим университетом
                        a(href='' title='' class='document' target='_blank')
                            i.fa.fa-file-pdf-o
                            |  Просмотреть договор
        .affix-panel
            form
                h4 Получить консультацию
                input(type='text' placeholder='Ваше имя' class='error')
                input(type='text' placeholder='E-mail')
                input(type='text' placeholder='Ваш телефон')
                input(type='text' placeholder='Ваша страна')
                input(type='text' placeholder='Ваш город')
                a(class='button' title='' href='') Отправить заявку
    section.univ-about
        .container.border-bottom.border-bottom2
            .row.justify-content-center
                .col-md-10
                    h2 О университете
                    .about-text
                        p Київський національний університет імені Тараса Шевченка – чи не найвідоміший вищий навчальний заклад України. Університет був заснований в далекому 1833 році згідно з указом російського імператора Миколи I як Київський Імператорський університет святого Володимира. Більш як за півтора століття свого існування він став осередком, де плекалися передові ідеї та виховувалася національна інтелігенція. Всі кампуси та корпуси розташовані у місті Києві, а Червоний корпус КНУ є ще й однією з головних архітектурних прикрас столиці. До речі, ботанiчний сад імені Академіка Олександра Фоміна, який так люблять жителі та гості Києва за його долину магнолій, також є частиною університету. Київський національний університет імені Тараса Шевченка має доволі розгалужену структуру, тому майбутні студенти серед загального переліку спеціальностей зможуть обрати саме ту, яка буде їм до вподоби: від журналістики і психології, до кібернетики та хімії.
                        p Вищий навчальний заклад має широкі міжнародні зв’язки, тому студенти КНУ мають змогу відвідувати лекції зарубіжних вчених та викладачів, які приїжджають з візитами, брати участь у міжнародних конференціях та стажуваннях. Окрім того, в стінах КНУ навчається велика кількість іноземних студентів, що ще раз засвідчує престижність університету не тільки в Україні, але й у світі. Київський національний університет імені Тараса Шевченка виховує ерудованих та висококваліфікованих фахівців, активних громадян, які здатні креативно та вільно мислити і аналізувати.


    #inline1(style='display:none;')
        iframe(src='https://www.youtube.com/embed/i0g8toTz-ek', frameborder='0', allowfullscreen='')
