@import "../../utilities/vars"
@import "../../utilities/mixins"

/* BUTTON */
button
  transitions()

.button
  display inline-block
  color $black
  border 1px solid $yellow
  border-radius 20px
  background $yellow
  padding 9px 0 12px
  width 100%
  max-width 136px
  text-align center
  font-weight: 600;
  letter-spacing .2px
  font-size .875em
  cursor pointer
  &:hover
    background  $yellow2
    color $black

.button.big
  max-width 231px
  padding 17px 0 16px
  border-radius: 26px;
  display inline-block

.button.huge
  max-width 289px
  text-transform uppercase
  padding 19px 0
  border-radius: 30px;
  font-size 1em


