@import '../../utilities/vars'
@import '../../utilities/mixins'

form {}

input
  -webkit-appearance none
  +placeholder()
    color $gray

textarea
  -webkit-appearance none
  resize none
  +placeholder()
    color $gray

label {}