@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  transitions()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none

.link-advantages
  color $yellow
  line-height: normal
  letter-spacing: 1.9px;
  font-size 1.125em
  display inline-block
  position relative
  padding-right 20px
  font-weight 700
  .fa
    position absolute
    right 0px
    top -7px
    font-size 34px
    transition transform .2s ease
  &:hover
    color $yellow
    opacity .6
    .fa
      transform translateX(10px)


.link-back
  font-size: .875em
  font-weight: 600;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom 55px
  display block
  .fa
    margin-right 31px

