//  LINKS
@import "partials/links"
//  BUTTONS
@import "partials/buttons"
//  TABLES
@import "partials/tables"
//  LISTS
@import "partials/lists"
//  FORMS
@import "partials/forms"
//  SELECT
@import "partials/select"
//  IMAGES
@import "partials/images"
//  AUDIO
@import "partials/audio"
//  VIDEO
@import "partials/video"