//  SECTION
@import 'partials/section'
@import 'partials/search'
@import 'partials/university'
@import 'partials/service'
@import 'partials/help'
@import 'partials/icon'
@import 'partials/advantages'
@import 'partials/partners'
@import 'partials/news'
@import 'partials/faq'
@import 'partials/contacts'