//  FONTS
@import 'partials/fonts'
//  BODY
@import 'partials/body'

//  FLEX ALIGNS
@import 'partials/flex-align'

//  FLEX OFFSETS
@import 'partials/flex-offsets'

//  TEXT-ALIGNS
@import 'partials/text-align'

//  TYPOGRAPHY
@import 'partials/typography'