$black = #000
$white = #fff
$trans = transparent
$gray = #a9a9a9

$white-text = #f6f6f6

$black-text = #2d2d2d
$black-text2 = #1b1b1b

$yellow = #ffba00
$yellow-text = #ffcc00

$blue = #068edc
$blue2 = #1f7fb6
$blue-dark = #001825
$blue-dark2 = #063854

$gray-text = #7f7f7f
$gray-back = #f6f6f6
$gray-back2 = #ececec
$gray-back3 = #e2e2e2

$red = #ff3030
$green = #56da72

$shadow = box-shadow 0 3px 46px 0 rgba(0, 0, 0, 0.15)

//$main-font = "Cera"
//$main-font = "Circe"
//$main-font = "Comfortaa"
//$main-font = "DejaVu"
//$main-font = "Futura PT"
//$main-font = "Gotham Pro"
//$main-font = "Helvetica"
//$main-font = "Lato"
//$main-font = "Lobster"
//$main-font = "MuseoSans"
//$main-font = "Open Sans"
//$main-font = "Open Sans Condensed"
//$main-font = "Oswald"
//$main-font = "Pattaya"
$main-font = "Proxima Nova"
//$main-font = "PT Sans"
//$main-font = "Raleway"
//$main-font = "Roboto"
//$main-font = "Roboto Condensed"